workflows/08-project-detection/workflow.json
{
  "name": "08-Project-Detection",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "project-detection",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "selene-project-detection-webhook"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "triggerAtHour": 8
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Daily 8AM Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 500]
    },
    {
      "parameters": {
        "functionCode": "const db = require('better-sqlite3')('/selene/data/selene.db');\n\ntry {\n  const body = $input.item.json.body || $input.item.json;\n  const testRun = body.test_run || null;\n\n  // Build WHERE clause for test isolation\n  const testCondition = testRun ? `AND tm.test_run = '${testRun}'` : 'AND tm.test_run IS NULL';\n  const projectTestCondition = testRun ? `AND pm.test_run = '${testRun}'` : 'AND pm.test_run IS NULL';\n\n  // Query for concept clusters with 3+ tasks not yet in a project\n  const query = `\n    WITH concept_counts AS (\n      SELECT \n        json_each.value as concept,\n        COUNT(DISTINCT tm.id) as task_count,\n        GROUP_CONCAT(tm.things_task_id) as task_ids,\n        GROUP_CONCAT(tm.energy_required) as energy_values,\n        SUM(tm.estimated_minutes) as total_minutes\n      FROM task_metadata tm,\n           json_each(tm.related_concepts)\n      WHERE tm.things_project_id IS NULL\n        ${testCondition}\n      GROUP BY json_each.value\n      HAVING COUNT(DISTINCT tm.id) >= 3\n    )\n    SELECT \n      cc.concept,\n      cc.task_count,\n      cc.task_ids,\n      cc.energy_values,\n      cc.total_minutes\n    FROM concept_counts cc\n    LEFT JOIN project_metadata pm ON pm.primary_concept = cc.concept\n      ${projectTestCondition}\n    WHERE pm.id IS NULL\n    ORDER BY cc.task_count DESC\n  `;\n\n  const clusters = db.prepare(query).all();\n\n  console.log('[Query Clusters] Found', clusters.length, 'concept clusters needing projects');\n\n  if (clusters.length === 0) {\n    return {\n      json: {\n        clusters: [],\n        message: 'No concept clusters found needing projects',\n        test_run: testRun\n      }\n    };\n  }\n\n  return {\n    json: {\n      clusters: clusters,\n      cluster_count: clusters.length,\n      test_run: testRun\n    }\n  };\n} finally {\n  db.close();\n}"
      },
      "id": "query-clusters",
      "name": "Query Concept Clusters",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [500, 400]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.cluster_count }}",
              "operation": "largerEqual",
              "value2": 1
            }
          ]
        }
      },
      "id": "check-clusters-exist",
      "name": "Clusters Found?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [700, 400]
    },
    {
      "parameters": {
        "fieldToSplitOut": "clusters",
        "options": {}
      },
      "id": "split-clusters",
      "name": "Split Clusters",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [900, 300]
    },
    {
      "parameters": {
        "functionCode": "const cluster = $input.item.json;\nconst testRun = $('Query Concept Clusters').first().json.test_run;\n\nconsole.log('[Build Name Prompt] Processing concept:', cluster.concept);\n\nconst prompt = `You are a project naming assistant for an ADHD-optimized productivity system.\n\nGenerate a clear, human-readable project name for a group of related tasks.\n\n## INPUT\n\nConcept: ${cluster.concept}\nTask Count: ${cluster.task_count}\nTotal Estimated Time: ${cluster.total_minutes} minutes\n\n## REQUIREMENTS\n\n1. Name should be 2-5 words\n2. Use active, descriptive language\n3. Avoid generic terms like \"Project\" or \"Tasks\"\n4. Make it specific enough to distinguish from other projects\n5. Use title case\n\n## EXAMPLES\n\nConcept: website-redesign -> \"Website Redesign Sprint\"\nConcept: tax-prep -> \"Q4 Tax Preparation\"\nConcept: home-renovation -> \"Kitchen Renovation\"\nConcept: learning-python -> \"Python Fundamentals\"\n\n## OUTPUT FORMAT\n\nReturn ONLY valid JSON with no additional text:\n\n{\n  \"project_name\": \"Your Project Name Here\"\n}\n\nBEGIN:`;\n\nreturn {\n  json: {\n    ...cluster,\n    name_prompt: prompt,\n    test_run: testRun\n  }\n};"
      },
      "id": "build-name-prompt",
      "name": "Build Project Name Prompt",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1100, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:11434/api/generate",
        "options": {
          "timeout": 30000
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  \"model\": \"mistral:7b\",\n  \"prompt\": $json.name_prompt,\n  \"stream\": false,\n  \"format\": \"json\",\n  \"options\": {\n    \"temperature\": 0.7,\n    \"num_predict\": 100\n  }\n} }}"
      },
      "id": "ollama-generate-name",
      "name": "Ollama Generate Name",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1300, 300]
    },
    {
      "parameters": {
        "functionCode": "const response = $input.item.json.response;\nconst clusterData = $('Build Project Name Prompt').first().json;\n\nconsole.log('[Parse Name] Raw response:', response);\n\n// Default fallback: format concept as title\nlet projectName = clusterData.concept.replace(/-/g, ' ').replace(/\\b\\w/g, l => l.toUpperCase());\n\ntry {\n  const parsed = JSON.parse(response);\n  if (parsed.project_name && parsed.project_name.trim()) {\n    projectName = parsed.project_name.trim();\n  }\n} catch (e) {\n  console.warn('[Parse Name] Failed to parse, using fallback:', e.message);\n}\n\nconsole.log('[Parse Name] Final name:', projectName);\n\n// Calculate energy profile from task energy values\nconst energyValues = clusterData.energy_values.split(',');\nconst energyCounts = { high: 0, medium: 0, low: 0 };\n\nenergyValues.forEach(e => {\n  const normalized = e.trim().toLowerCase();\n  if (energyCounts.hasOwnProperty(normalized)) {\n    energyCounts[normalized]++;\n  }\n});\n\nconst total = energyValues.length;\nlet energyProfile = 'mixed';\n\nif (energyCounts.high / total > 0.6) {\n  energyProfile = 'high';\n} else if (energyCounts.low / total > 0.6) {\n  energyProfile = 'low';\n}\n\nconsole.log('[Parse Name] Energy profile:', energyProfile);\n\nreturn {\n  json: {\n    concept: clusterData.concept,\n    project_name: projectName,\n    task_ids: clusterData.task_ids,\n    task_count: clusterData.task_count,\n    energy_profile: energyProfile,\n    total_minutes: clusterData.total_minutes,\n    test_run: clusterData.test_run\n  }\n};"
      },
      "id": "parse-project-name",
      "name": "Parse Project Name",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1500, 300]
    },
    {
      "parameters": {
        "functionCode": "const fs = require('fs');\nconst path = require('path');\n\nconst data = $input.item.json;\n\nconsole.log('[Write Project File] Creating project file for:', data.project_name);\n\n// Generate unique filename\nconst timestamp = Date.now();\nconst random = Math.floor(Math.random() * 10000).toString().padStart(4, '0');\nconst safeConcept = data.concept.replace(/[^a-zA-Z0-9-]/g, '-').substring(0, 30);\nconst filename = `project-${safeConcept}-${timestamp}-${random}.json`;\n\n// Build project data for host script\nconst projectData = {\n  // Project creation info\n  name: data.project_name,\n  notes: `Selene Project\\n\\nConcept: ${data.concept}\\nTasks: ${data.task_count}\\nTotal Time: ${data.total_minutes} minutes\\n\\nCreated automatically from task grouping.`,\n  \n  // Metadata for database update after creation\n  selene_metadata: {\n    primary_concept: data.concept,\n    energy_profile: data.energy_profile,\n    task_count: data.task_count,\n    total_estimated_minutes: data.total_minutes,\n    task_ids: data.task_ids.split(',').map(id => id.trim()),\n    test_run: data.test_run || null,\n    created_by_workflow: '08-project-detection',\n    created_at: new Date().toISOString()\n  }\n};\n\n// Write to pending directory\nconst pendingDir = '/selene/vault/projects-pending';\nconst filePath = path.join(pendingDir, filename);\n\n// Ensure directory exists\nif (!fs.existsSync(pendingDir)) {\n  fs.mkdirSync(pendingDir, { recursive: true });\n}\n\nfs.writeFileSync(filePath, JSON.stringify(projectData, null, 2));\n\nconsole.log('[Write Project File] Wrote to:', filePath);\n\nreturn {\n  json: {\n    success: true,\n    filename: filename,\n    project_name: data.project_name,\n    concept: data.concept,\n    task_count: data.task_count,\n    energy_profile: data.energy_profile,\n    file_path: filePath,\n    test_run: data.test_run\n  }\n};"
      },
      "id": "write-project-file",
      "name": "Write Project File",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1700, 300]
    },
    {
      "parameters": {
        "functionCode": "const db = require('better-sqlite3')('/selene/data/selene.db');\n\ntry {\n  const data = $input.item.json;\n\n  // Log the pending project creation\n  db.prepare(`\n    INSERT INTO integration_logs (workflow, event, success, metadata)\n    VALUES ('08-project-detection', 'project_file_created', 1, ?)\n  `).run(JSON.stringify({\n    filename: data.filename,\n    project_name: data.project_name,\n    concept: data.concept,\n    task_count: data.task_count,\n    energy_profile: data.energy_profile,\n    test_run: data.test_run\n  }));\n\n  console.log('[Log Result] Logged project file creation:', data.filename);\n\n  return {\n    json: {\n      ...data,\n      logged: true\n    }\n  };\n} finally {\n  db.close();\n}"
      },
      "id": "log-result",
      "name": "Log Result",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1900, 300]
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "projects_created",
        "options": {}
      },
      "id": "aggregate-results",
      "name": "Aggregate Results",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [2100, 300]
    },
    {
      "parameters": {
        "functionCode": "const projects = $input.item.json.projects_created || [];\nconst testRun = projects.length > 0 ? projects[0].test_run : null;\n\nconsole.log('[Final Summary] Created', projects.length, 'project file(s)');\n\nreturn {\n  json: {\n    success: true,\n    projects_pending: projects.length,\n    projects: projects.map(p => ({\n      name: p.project_name,\n      concept: p.concept,\n      task_count: p.task_count,\n      energy_profile: p.energy_profile\n    })),\n    message: `Created ${projects.length} project file(s) in vault/projects-pending/. Run process-pending-projects.sh to create in Things.`,\n    test_run: testRun\n  }\n};"
      },
      "id": "final-summary",
      "name": "Final Summary",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [2300, 300]
    },
    {
      "parameters": {
        "functionCode": "// No clusters found - return success with empty result\nconst testRun = $input.item.json.test_run;\n\nreturn {\n  json: {\n    success: true,\n    projects_pending: 0,\n    projects: [],\n    message: 'No concept clusters found needing projects (requires 3+ tasks sharing a concept)',\n    test_run: testRun\n  }\n};"
      },
      "id": "no-clusters-response",
      "name": "No Clusters Response",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [900, 500]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [[{ "node": "Query Concept Clusters", "type": "main", "index": 0 }]]
    },
    "Daily 8AM Trigger": {
      "main": [[{ "node": "Query Concept Clusters", "type": "main", "index": 0 }]]
    },
    "Query Concept Clusters": {
      "main": [[{ "node": "Clusters Found?", "type": "main", "index": 0 }]]
    },
    "Clusters Found?": {
      "main": [
        [{ "node": "Split Clusters", "type": "main", "index": 0 }],
        [{ "node": "No Clusters Response", "type": "main", "index": 0 }]
      ]
    },
    "Split Clusters": {
      "main": [[{ "node": "Build Project Name Prompt", "type": "main", "index": 0 }]]
    },
    "Build Project Name Prompt": {
      "main": [[{ "node": "Ollama Generate Name", "type": "main", "index": 0 }]]
    },
    "Ollama Generate Name": {
      "main": [[{ "node": "Parse Project Name", "type": "main", "index": 0 }]]
    },
    "Parse Project Name": {
      "main": [[{ "node": "Write Project File", "type": "main", "index": 0 }]]
    },
    "Write Project File": {
      "main": [[{ "node": "Log Result", "type": "main", "index": 0 }]]
    },
    "Log Result": {
      "main": [[{ "node": "Aggregate Results", "type": "main", "index": 0 }]]
    },
    "Aggregate Results": {
      "main": [[{ "node": "Final Summary", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "executionTimeout": 300,
    "timezone": "America/Los_Angeles"
  },
  "staticData": null,
  "tags": [
    {
      "name": "Selene",
      "id": "selene-tag"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2026-01-01T00:00:00.000Z",
  "versionId": "1"
}
