workflows/04-obsidian-export/workflow.json
{
  "name": "04-Obsidian-Export | Selene",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 * * * *"
            }
          ]
        }
      },
      "id": "cron-export",
      "name": "Every Hour",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "obsidian-export",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-on-demand",
      "name": "On-Demand Export Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 500],
      "webhookId": "obsidian-export-trigger"
    },
    {
      "parameters": {
        "functionCode": "// Check if noteId was provided in the webhook payload\nconst body = $input.item.json.body || $input.item.json.query || $input.item.json;\nconst noteId = body.noteId || body.note_id || null;\nconst testRun = body.test_run || null;\nconst useTestDb = body.use_test_db || testRun ? true : false;\n\n// Build command with optional noteId argument\nconst scriptPath = process.env.SELENE_PROJECT_ROOT + '/scripts/obsidian_export.py';\nlet command = 'python3 ' + scriptPath;\nif (noteId) {\n  command += ` ${noteId}`;\n}\n\n// Add environment variables for test isolation\nif (useTestDb) {\n  command = `SELENE_DB_PATH=${process.env.SELENE_TEST_DB_PATH} OBSIDIAN_VAULT_PATH=${process.env.OBSIDIAN_TEST_VAULT_PATH} ` + command;\n}\n\nreturn {\n  json: {\n    command: command,\n    noteId: noteId,\n    mode: noteId ? 'event-driven' : 'batch',\n    test_run: testRun,\n    use_test_db: useTestDb\n  }\n};"
      },
      "id": "function-build-command",
      "name": "Build Export Command",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [500, 400]
    },
    {
      "parameters": {
        "command": "={{ $json.command }}",
        "options": {}
      },
      "id": "exec-export-script",
      "name": "Run Export Script",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [700, 400]
    },
    {
      "parameters": {
        "jsCode": "// Parse the JSON output from the Python script\nconst output = $input.first().json.stdout;\nconst result = JSON.parse(output);\nconst prevData = $('Build Export Command').item.json;\n\nreturn {\n  json: {\n    ...result,\n    test_run: prevData.test_run,\n    use_test_db: prevData.use_test_db\n  }\n};"
      },
      "id": "parse-result",
      "name": "Parse Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [700, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "webhook-respond",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [900, 400]
    }
  ],
  "connections": {
    "Every Hour": {
      "main": [
        [
          {
            "node": "Build Export Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On-Demand Export Webhook": {
      "main": [
        [
          {
            "node": "Build Export Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Export Command": {
      "main": [
        [
          {
            "node": "Run Export Script",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Export Script": {
      "main": [
        [
          {
            "node": "Parse Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Result": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-10-30T00:00:00.000Z",
      "updatedAt": "2025-10-30T00:00:00.000Z",
      "id": "1",
      "name": "Selene"
    },
    {
      "createdAt": "2025-10-30T00:00:00.000Z",
      "updatedAt": "2025-10-30T00:00:00.000Z",
      "id": "2",
      "name": "ADHD"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-10-30T00:00:00.000Z",
  "versionId": "1"
}
