workflows/04-obsidian-export/archive/workflow-standard.json
{
  "name": "Selene: Obsidian Export (Standard)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 7 * * *"
            }
          ]
        }
      },
      "id": "cron-export",
      "name": "Daily at 7am",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  rn.id, rn.title, rn.content, rn.created_at, rn.tags,\n  pn.concepts, pn.primary_theme, pn.secondary_themes\nFROM raw_notes rn\nJOIN processed_notes pn ON rn.id = pn.raw_note_id\nWHERE rn.exported_to_obsidian = 0\n  AND rn.status = 'processed'\nORDER BY rn.created_at DESC\nLIMIT 50;",
        "options": {}
      },
      "id": "sqlite-get-notes",
      "name": "Get Notes for Export",
      "type": "n8n-nodes-sqlite.sqlite",
      "typeVersion": 1,
      "position": [450, 300],
      "credentials": {
        "sqlite": {
          "id": "1",
          "name": "Selene SQLite"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "const note = $json;\n\n// Parse JSON fields\nlet concepts = [];\nlet secondaryThemes = [];\nlet tags = [];\n\ntry {\n  concepts = JSON.parse(note.concepts || '[]');\n} catch (e) {\n  concepts = [];\n}\n\ntry {\n  secondaryThemes = JSON.parse(note.secondary_themes || '[]');\n} catch (e) {\n  secondaryThemes = [];\n}\n\ntry {\n  tags = JSON.parse(note.tags || '[]');\n} catch (e) {\n  tags = [];\n}\n\n// Format date\nconst date = new Date(note.created_at);\nconst dateStr = date.toISOString().split('T')[0];\nconst year = date.getFullYear();\nconst month = String(date.getMonth() + 1).padStart(2, '0');\n\n// Build frontmatter\nconst allTags = [note.primary_theme, ...secondaryThemes, ...tags]\n  .filter((t, i, arr) => t && arr.indexOf(t) === i); // Remove duplicates\n\nconst frontmatter = `---\ntitle: ${note.title.replace(/:/g, ' -')}\ndate: ${dateStr}\ntheme: ${note.primary_theme}\nconcepts:\n${concepts.map(c => `  - ${c}`).join('\\n')}\ntags:\n${allTags.map(t => `  - ${t}`).join('\\n')}\nsource: Selene\nautomated: true\n---`;\n\n// Build concept links (Obsidian [[wikilinks]])\nconst conceptLinks = concepts.map(c => `[[${c}]]`).join(' • ');\n\n// Build theme links\nconst themeLinks = [note.primary_theme, ...secondaryThemes]\n  .map(t => `[[${t}]]`)\n  .join(' • ');\n\n// Build markdown content\nconst markdown = `${frontmatter}\n\n# ${note.title}\n\n**🏷️ Theme**: ${themeLinks}\n**💡 Concepts**: ${conceptLinks}\n**📅 Date**: ${dateStr}\n\n---\n\n${note.content}\n\n---\n\n## 📊 Metadata\n\n- **Processed**: ${new Date().toISOString().split('T')[0]}\n- **Source**: Selene Knowledge Management System\n- **Concept Count**: ${concepts.length}\n- **Word Count**: ${note.content.split(/\\s+/).length}\n- **Character Count**: ${note.content.length}\n\n## 🔗 Related Notes\n\n<!-- Obsidian will automatically show backlinks here -->\n\n---\n\n*This note was automatically processed and exported by Selene.*\n`;\n\n// Generate filename (sanitize)\nconst titleSlug = note.title\n  .toLowerCase()\n  .replace(/[^a-z0-9\\s-]/g, '')\n  .replace(/\\s+/g, '-')\n  .substring(0, 50);\n  \nconst filename = `${dateStr}-${titleSlug}.md`;\n\n// Build directory structure: vault/Selene/YYYY/MM/\nconst vaultPath = '/Users/YOURNAME/Documents/ObsidianVault'; // UPDATE THIS PATH\nconst directoryPath = `${vaultPath}/Selene/${year}/${month}`;\nconst filePath = `${directoryPath}/${filename}`;\n\nreturn {\n  json: {\n    noteId: note.id,\n    filename: filename,\n    markdown: markdown,\n    directoryPath: directoryPath,\n    filePath: filePath,\n    year: year,\n    month: month,\n    concepts: concepts,\n    theme: note.primary_theme\n  }\n};"
      },
      "id": "function-build-markdown",
      "name": "Build Markdown File",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "command": "mkdir -p \"{{ $json.directoryPath }}\""
      },
      "id": "bash-create-directory",
      "name": "Create Directory",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "={{ $json.filePath }}",
        "fileContent": "={{ $json.markdown }}",
        "options": {
          "encoding": "utf8"
        }
      },
      "id": "file-write",
      "name": "Write Obsidian File",
      "type": "n8n-nodes-base.writeFile",
      "typeVersion": 1,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE raw_notes\nSET exported_to_obsidian = 1,\n    exported_at = datetime('now')\nWHERE id = {{ $json.noteId }};",
        "options": {}
      },
      "id": "sqlite-mark-exported",
      "name": "Mark as Exported",
      "type": "n8n-nodes-sqlite.sqlite",
      "typeVersion": 1,
      "position": [1250, 300],
      "credentials": {
        "sqlite": {
          "id": "1",
          "name": "Selene SQLite"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "// Create concept index files\nconst concepts = $('Build Markdown File').item.json.concepts;\nconst vaultPath = '/Users/YOURNAME/Documents/ObsidianVault'; // UPDATE THIS PATH\n\nconst conceptFiles = concepts.map(concept => {\n  const conceptSlug = concept.toLowerCase().replace(/[^a-z0-9\\s-]/g, '').replace(/\\s+/g, '-');\n  const conceptPath = `${vaultPath}/Concepts/${concept}.md`;\n  \n  const conceptContent = `# ${concept}\n\n**Type**: Concept\n**Created**: ${new Date().toISOString().split('T')[0]}\n\n## Overview\n\nThis is an automatically generated concept page. It will be linked from all notes that mention this concept.\n\n## Related Notes\n\n<!-- Obsidian backlinks will appear here -->\n\n---\n\n*Auto-generated by Selene*\n`;\n\n  return {\n    path: conceptPath,\n    content: conceptContent,\n    concept: concept\n  };\n});\n\nreturn conceptFiles.map(cf => ({ json: cf }));"
      },
      "id": "function-create-concept-files",
      "name": "Create Concept Index Files",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1050, 450]
    },
    {
      "parameters": {
        "command": "mkdir -p \"{{ $json.path | dirname }}\""
      },
      "id": "bash-create-concepts-dir",
      "name": "Create Concepts Directory",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [1250, 450]
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "={{ $json.path }}",
        "fileContent": "={{ $json.content }}",
        "options": {
          "encoding": "utf8",
          "flag": "wx"
        }
      },
      "id": "file-write-concept",
      "name": "Write Concept File (if not exists)",
      "type": "n8n-nodes-base.writeFile",
      "typeVersion": 1,
      "position": [1450, 450],
      "continueOnFail": true
    }
  ],
  "connections": {
    "Daily at 7am": {
      "main": [
        [
          {
            "node": "Get Notes for Export",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Notes for Export": {
      "main": [
        [
          {
            "node": "Build Markdown File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Markdown File": {
      "main": [
        [
          {
            "node": "Create Directory",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create Concept Index Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Directory": {
      "main": [
        [
          {
            "node": "Write Obsidian File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Obsidian File": {
      "main": [
        [
          {
            "node": "Mark as Exported",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Concept Index Files": {
      "main": [
        [
          {
            "node": "Create Concepts Directory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Concepts Directory": {
      "main": [
        [
          {
            "node": "Write Concept File (if not exists)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "Selene",
      "id": "selene-tag"
    }
  ],
  "meta": {
    "instanceId": "selene-local"
  },
  "pinData": {}
}
