workflows/09-feedback-processing/workflow.json
{
  "name": "09-Feedback-Processing | Selene",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule: Every 5 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "functionCode": "const Database = require('better-sqlite3');\nlet db;\n\ntry {\n  db = new Database('/selene/data/selene.db', { readonly: true });\n  \n  // Query unprocessed feedback notes\n  const query = `\n    SELECT id, content, content_hash, created_at, test_run\n    FROM feedback_notes\n    WHERE processed_at IS NULL\n    ORDER BY created_at ASC\n    LIMIT 10\n  `;\n  \n  const rows = db.prepare(query).all();\n  \n  if (rows.length === 0) {\n    // Return empty to stop workflow - no unprocessed feedback\n    return [];\n  }\n  \n  // Return each row as a separate item for processing\n  return rows.map(row => ({ json: row }));\n  \n} catch (error) {\n  console.error('[Query Unprocessed Feedback] Error:', error.message);\n  return [];\n} finally {\n  if (db) db.close();\n}"
      },
      "id": "query-unprocessed",
      "name": "Query Unprocessed Feedback",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "functionCode": "const feedback = $json;\n\n// Sanitize feedback to prevent prompt injection\nconst sanitizedContent = feedback.content\n  .replace(/```/g, '---')  // Remove code blocks\n  .replace(/\\n{3,}/g, '\\n\\n')  // Limit consecutive newlines\n  .substring(0, 2000);  // Limit length\n\n// Read prompt template and substitute feedback content\nconst promptTemplate = `You are converting user feedback about the Selene app into user stories.\n\nInput: Raw feedback text from the user.\n\nOutput: A JSON object with:\n- user_story: \"As a user, I want [X] so that [Y]\" format\n- theme: One of: \"task-routing\", \"dashboard\", \"planning\", \"ui\", \"performance\", \"other\"\n- priority_hint: 1-3 based on severity/importance mentioned (1=low, 2=medium, 3=high)\n\nExample input: \"The task suggestion felt wrong - gave me a coding task when I said low energy\"\n\nExample output:\n{\n  \"user_story\": \"As a user, I want energy levels to filter out high-cognitive tasks so I get appropriate suggestions when tired\",\n  \"theme\": \"task-routing\",\n  \"priority_hint\": 2\n}\n\nCRITICAL: Return ONLY the JSON object, no additional text or explanation.\n\nNow convert this feedback:`;\n\nconst prompt = promptTemplate + '\\n\\n' + sanitizedContent;\n\nreturn {\n  json: {\n    feedback_id: feedback.id,\n    content: feedback.content,\n    content_hash: feedback.content_hash,\n    test_run: feedback.test_run,\n    prompt: prompt\n  }\n};"
      },
      "id": "build-prompt",
      "name": "Build LLM Prompt",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:11434/api/generate",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  \"model\": \"mistral:7b\",\n  \"prompt\": $json.prompt,\n  \"stream\": false,\n  \"format\": \"json\",\n  \"options\": {\n    \"temperature\": 0.3,\n    \"num_predict\": 500\n  }\n} }}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "ollama-request",
      "name": "Send to Ollama",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [850, 300],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "functionCode": "const ollamaResult = $json;\nconst feedbackData = $('Build LLM Prompt').item.json;\n\nconsole.log('[Parse LLM Response] Processing feedback ID:', feedbackData.feedback_id);\n\n// Validate response exists\nif (!ollamaResult || !ollamaResult.response) {\n  console.error('[Parse LLM Response] No response from Ollama');\n  return {\n    json: {\n      feedback_id: feedbackData.feedback_id,\n      content: feedbackData.content,\n      content_hash: feedbackData.content_hash,\n      test_run: feedbackData.test_run,\n      user_story: 'Failed to generate - no LLM response',\n      theme: 'other',\n      priority_hint: 1,\n      parse_error: 'No response from Ollama',\n      raw_response: null\n    }\n  };\n}\n\nconst response = ollamaResult.response;\n\n// Validate response is a string\nif (typeof response !== 'string') {\n  console.error('[Parse LLM Response] Response is not a string:', typeof response);\n  return {\n    json: {\n      feedback_id: feedbackData.feedback_id,\n      content: feedbackData.content,\n      content_hash: feedbackData.content_hash,\n      test_run: feedbackData.test_run,\n      user_story: 'Failed to generate - invalid response type',\n      theme: 'other',\n      priority_hint: 1,\n      parse_error: 'Response is not a string: ' + typeof response,\n      raw_response: JSON.stringify(response)\n    }\n  };\n}\n\nlet userStory = null;\nlet theme = 'other';\nlet priorityHint = 2;\nlet parseError = null;\n\ntry {\n  // Try to parse JSON response from Ollama\n  const parsed = JSON.parse(response.trim());\n  \n  userStory = parsed.user_story || null;\n  theme = parsed.theme || 'other';\n  priorityHint = parsed.priority_hint || 2;\n  \n  // Validate theme is one of the allowed values\n  const validThemes = ['task-routing', 'dashboard', 'planning', 'ui', 'performance', 'other'];\n  if (!validThemes.includes(theme)) {\n    console.warn('[Parse LLM Response] Invalid theme:', theme, '- defaulting to other');\n    theme = 'other';\n  }\n  \n  // Validate priority_hint is 1-3\n  if (priorityHint < 1 || priorityHint > 3) {\n    priorityHint = 2;\n  }\n  \n  console.log('[Parse LLM Response] Parsed successfully:', { userStory: userStory?.substring(0, 50), theme, priorityHint });\n  \n} catch (e) {\n  // Fallback: try to extract user story from non-JSON response\n  console.error('[Parse LLM Response] JSON parse failed:', e.message);\n  parseError = e.message;\n  \n  // Try to find \"As a user\" pattern in response\n  const userStoryMatch = response.match(/As a user[^\"\\n]+/i);\n  if (userStoryMatch) {\n    userStory = userStoryMatch[0].trim();\n    console.log('[Parse LLM Response] Fallback extraction:', userStory.substring(0, 50));\n  }\n  \n  // Try to detect theme from keywords\n  const lowerResponse = response.toLowerCase();\n  if (lowerResponse.includes('task') || lowerResponse.includes('routing') || lowerResponse.includes('suggestion')) {\n    theme = 'task-routing';\n  } else if (lowerResponse.includes('dashboard') || lowerResponse.includes('display')) {\n    theme = 'dashboard';\n  } else if (lowerResponse.includes('planning') || lowerResponse.includes('schedule')) {\n    theme = 'planning';\n  } else if (lowerResponse.includes('ui') || lowerResponse.includes('interface') || lowerResponse.includes('design')) {\n    theme = 'ui';\n  } else if (lowerResponse.includes('slow') || lowerResponse.includes('performance') || lowerResponse.includes('fast')) {\n    theme = 'performance';\n  }\n}\n\nreturn {\n  json: {\n    feedback_id: feedbackData.feedback_id,\n    content: feedbackData.content,\n    content_hash: feedbackData.content_hash,\n    test_run: feedbackData.test_run,\n    user_story: userStory,\n    theme: theme,\n    priority_hint: priorityHint,\n    parse_error: parseError,\n    raw_response: response\n  }\n};"
      },
      "id": "parse-response",
      "name": "Parse LLM Response",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "functionCode": "// Handle Ollama error - create fallback result\nconst feedbackData = $('Build LLM Prompt').item.json;\nconst error = $json.error || 'Ollama request failed';\n\nconsole.error('[Ollama Error Handler] Error processing feedback', feedbackData.feedback_id, ':', error);\n\nreturn {\n  json: {\n    feedback_id: feedbackData.feedback_id,\n    content: feedbackData.content,\n    content_hash: feedbackData.content_hash,\n    test_run: feedbackData.test_run,\n    user_story: null,\n    theme: 'other',\n    priority_hint: 2,\n    parse_error: 'Ollama request failed: ' + error,\n    raw_response: null\n  }\n};"
      },
      "id": "ollama-error-handler",
      "name": "Handle Ollama Error",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1050, 450]
    },
    {
      "parameters": {
        "functionCode": "const Database = require('better-sqlite3');\nlet db;\n\ntry {\n  const data = $json;\n  \n  db = new Database('/selene/data/selene.db');\n  \n  console.log('[Update Feedback Record] Updating feedback ID:', data.feedback_id);\n  \n  const updateQuery = `\n    UPDATE feedback_notes\n    SET \n      user_story = ?,\n      theme = ?,\n      priority = ?,\n      processed_at = datetime('now'),\n      processing_error = ?\n    WHERE id = ?\n  `;\n  \n  const result = db.prepare(updateQuery).run(\n    data.user_story,\n    data.theme,\n    data.priority_hint,\n    data.parse_error,\n    data.feedback_id\n  );\n  \n  db.close();\n  \n  console.log('[Update Feedback Record] Updated rows:', result.changes);\n  \n  return {\n    json: {\n      success: result.changes > 0,\n      feedback_id: data.feedback_id,\n      user_story: data.user_story,\n      theme: data.theme,\n      priority: data.priority_hint,\n      test_run: data.test_run\n    }\n  };\n  \n} catch (error) {\n  if (db) db.close();\n  console.error('[Update Feedback Record] Error:', error);\n  throw new Error('Database update failed: ' + error.message);\n}"
      },
      "id": "update-record",
      "name": "Update Feedback Record",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1250, 375]
    },
    {
      "parameters": {
        "functionCode": "const { execSync } = require('child_process');\nconst fs = require('fs');\n\ntry {\n  const result = execSync('/workflows/scripts/generate-backlog.sh', {\n    cwd: '/workflows',\n    encoding: 'utf8',\n    timeout: 30000\n  });\n  \n  // Verify output file was created\n  const outputPath = '/workflows/docs/backlog/user-stories.md';\n  if (!fs.existsSync(outputPath)) {\n    console.warn('[Generate Backlog] Warning: Output file not found at', outputPath);\n  }\n  \n  console.log('[Generate Backlog] Success');\n  \n  return {\n    json: {\n      backlog_updated: true,\n      timestamp: new Date().toISOString()\n    }\n  };\n} catch (error) {\n  console.error('[Generate Backlog] Failed:', error.message);\n  return {\n    json: {\n      backlog_updated: false,\n      error: error.message,\n      timestamp: new Date().toISOString()\n    }\n  };\n}"
      },
      "id": "generate-backlog",
      "name": "Generate Backlog File",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1450, 375]
    }
  ],
  "connections": {
    "Schedule: Every 5 Minutes": {
      "main": [[{ "node": "Query Unprocessed Feedback", "type": "main", "index": 0 }]]
    },
    "Query Unprocessed Feedback": {
      "main": [[{ "node": "Build LLM Prompt", "type": "main", "index": 0 }]]
    },
    "Build LLM Prompt": {
      "main": [[{ "node": "Send to Ollama", "type": "main", "index": 0 }]]
    },
    "Send to Ollama": {
      "main": [
        [{ "node": "Parse LLM Response", "type": "main", "index": 0 }],
        [{ "node": "Handle Ollama Error", "type": "main", "index": 0 }]
      ]
    },
    "Parse LLM Response": {
      "main": [[{ "node": "Update Feedback Record", "type": "main", "index": 0 }]]
    },
    "Handle Ollama Error": {
      "main": [[{ "node": "Update Feedback Record", "type": "main", "index": 0 }]]
    },
    "Update Feedback Record": {
      "main": [[{ "node": "Generate Backlog File", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "executionTimeout": 300,
    "timezone": "America/Los_Angeles"
  },
  "staticData": null,
  "tags": [
    {
      "name": "Selene",
      "id": "selene-tag"
    }
  ],
  "meta": {
    "instanceId": "selene-local"
  },
  "pinData": {}
}
