archive/n8n-workflows/05-sentiment-analysis/archive/workflow-v1.json
{
  "name": "Selene: Sentiment Analysis (Advanced)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds",
              "secondsInterval": 45
            }
          ]
        }
      },
      "id": "cron-sentiment",
      "name": "Every 45 Seconds",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT pn.id, pn.raw_note_id, rn.title, rn.content, pn.primary_theme, pn.concepts\nFROM processed_notes pn\nJOIN raw_notes rn ON pn.raw_note_id = rn.id\nWHERE pn.sentiment_analyzed = 0\nORDER BY pn.processed_at DESC\nLIMIT 1;",
        "options": {}
      },
      "id": "sqlite-get-unanalyzed",
      "name": "Get Unanalyzed Note",
      "type": "n8n-nodes-sqlite.sqlite",
      "typeVersion": 1,
      "position": [450, 300],
      "credentials": {
        "sqlite": {
          "id": "1",
          "name": "Selene SQLite"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.id }}",
              "operation": "exists"
            }
          ]
        }
      },
      "id": "switch-has-note",
      "name": "Has Note?",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "functionCode": "const content = $json.content;\nconst title = $json.title;\nconst noteId = $json.id;\nconst rawNoteId = $json.raw_note_id;\nconst theme = $json.primary_theme;\n\n// Build sentiment analysis prompt\nconst systemPrompt = `You are a sentiment and emotional tone analyzer. Your job is to analyze text and identify:\n\n1. Overall sentiment (positive, negative, neutral, mixed)\n2. Emotional tone (calm, excited, anxious, frustrated, content, overwhelmed, etc.)\n3. Energy level (high, medium, low)\n4. Stress indicators (present/absent)\n5. Confidence level in the content (high, medium, low)\n\nCRITICAL INSTRUCTIONS:\n- Analyze the emotional state and sentiment of the writer\n- Be sensitive to ADHD-related patterns (overwhelm, hyperfocus, excitement, frustration)\n- Return ONLY valid JSON in this exact format:\n{\n  \"overall_sentiment\": \"positive|negative|neutral|mixed\",\n  \"sentiment_score\": 0.0-1.0,\n  \"emotional_tone\": \"calm|excited|anxious|frustrated|content|overwhelmed|motivated\",\n  \"energy_level\": \"high|medium|low\",\n  \"stress_indicators\": true|false,\n  \"confidence_level\": \"high|medium|low\",\n  \"key_emotions\": [\"emotion1\", \"emotion2\"],\n  \"adhd_markers\": {\n    \"overwhelm\": true|false,\n    \"hyperfocus\": true|false,\n    \"executive_dysfunction\": true|false\n  },\n  \"analysis_confidence\": 0.0-1.0\n}\n- Do NOT include explanations, only the JSON\n- Be accurate and evidence-based`;\n\nconst contentPreview = content.substring(0, 2000);\nconst userPrompt = `Analyze the sentiment and emotional tone of this note:\n\nTitle: ${title}\nTheme: ${theme}\n\nContent:\n${contentPreview}\n\nRemember: Return ONLY the JSON response.`;\n\nreturn {\n  json: {\n    noteId: noteId,\n    rawNoteId: rawNoteId,\n    title: title,\n    systemPrompt: systemPrompt,\n    userPrompt: userPrompt\n  }\n};"
      },
      "id": "function-build-sentiment-prompt",
      "name": "Build Sentiment Prompt",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [850, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:11434/api/generate",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "mistral:7b"
            },
            {
              "name": "prompt",
              "value": "={{ $json.userPrompt }}"
            },
            {
              "name": "system",
              "value": "={{ $json.systemPrompt }}"
            },
            {
              "name": "stream",
              "value": "false"
            },
            {
              "name": "options",
              "value": "={{ { \"temperature\": 0.4, \"num_predict\": 1500 } }}"
            }
          ]
        },
        "options": {
          "timeout": 60000
        }
      },
      "id": "http-ollama-sentiment",
      "name": "Ollama: Analyze Sentiment",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1050, 200]
    },
    {
      "parameters": {
        "functionCode": "const response = $json.response;\nconst noteId = $('Build Sentiment Prompt').item.json.noteId;\nconst rawNoteId = $('Build Sentiment Prompt').item.json.rawNoteId;\n\n// Parse sentiment response\nlet sentimentData = {\n  overall_sentiment: 'neutral',\n  sentiment_score: 0.5,\n  emotional_tone: 'calm',\n  energy_level: 'medium',\n  stress_indicators: false,\n  confidence_level: 'medium',\n  key_emotions: [],\n  adhd_markers: {\n    overwhelm: false,\n    hyperfocus: false,\n    executive_dysfunction: false\n  },\n  analysis_confidence: 0.5\n};\n\ntry {\n  const parsed = JSON.parse(response.trim());\n  sentimentData = { ...sentimentData, ...parsed };\n} catch (e) {\n  // Fallback: extract from text\n  const lower = response.toLowerCase();\n  \n  if (/(positive|happy|excited|joyful)/i.test(lower)) {\n    sentimentData.overall_sentiment = 'positive';\n    sentimentData.sentiment_score = 0.7;\n  } else if (/(negative|frustrated|anxious|stressed)/i.test(lower)) {\n    sentimentData.overall_sentiment = 'negative';\n    sentimentData.sentiment_score = 0.3;\n  }\n  \n  if (/(overwhelm|too much|can't handle)/i.test(lower)) {\n    sentimentData.adhd_markers.overwhelm = true;\n    sentimentData.stress_indicators = true;\n  }\n  \n  sentimentData.analysis_confidence = 0.3; // Lower confidence for fallback\n}\n\nreturn {\n  json: {\n    noteId: noteId,\n    rawNoteId: rawNoteId,\n    sentimentData: sentimentData,\n    analyzedAt: new Date().toISOString()\n  }\n};"
      },
      "id": "function-parse-sentiment",
      "name": "Parse Sentiment Results",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1250, 200]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Update processed_notes with sentiment data\nUPDATE processed_notes\nSET sentiment_analyzed = 1,\n    sentiment_data = '{{ JSON.stringify($json.sentimentData).replace(/'/g, \"''\") }}',\n    overall_sentiment = '{{ $json.sentimentData.overall_sentiment }}',\n    sentiment_score = {{ $json.sentimentData.sentiment_score }},\n    emotional_tone = '{{ $json.sentimentData.emotional_tone }}',\n    energy_level = '{{ $json.sentimentData.energy_level }}',\n    sentiment_analyzed_at = '{{ $json.analyzedAt }}'\nWHERE id = {{ $json.noteId }};\n\n-- Insert into sentiment history\nINSERT INTO sentiment_history (\n  processed_note_id, raw_note_id,\n  overall_sentiment, sentiment_score,\n  emotional_tone, energy_level,\n  stress_indicators, key_emotions,\n  adhd_markers, analysis_confidence,\n  analyzed_at\n) VALUES (\n  {{ $json.noteId }},\n  {{ $json.rawNoteId }},\n  '{{ $json.sentimentData.overall_sentiment }}',\n  {{ $json.sentimentData.sentiment_score }},\n  '{{ $json.sentimentData.emotional_tone }}',\n  '{{ $json.sentimentData.energy_level }}',\n  {{ $json.sentimentData.stress_indicators ? 1 : 0 }},\n  '{{ JSON.stringify($json.sentimentData.key_emotions).replace(/'/g, \"''\") }}',\n  '{{ JSON.stringify($json.sentimentData.adhd_markers).replace(/'/g, \"''\") }}',\n  {{ $json.sentimentData.analysis_confidence }},\n  '{{ $json.analyzedAt }}'\n);",
        "options": {}
      },
      "id": "sqlite-store-sentiment",
      "name": "Store Sentiment Analysis",
      "type": "n8n-nodes-sqlite.sqlite",
      "typeVersion": 1,
      "position": [1450, 200],
      "credentials": {
        "sqlite": {
          "id": "1",
          "name": "Selene SQLite"
        }
      }
    }
  ],
  "connections": {
    "Every 45 Seconds": {
      "main": [
        [
          {
            "node": "Get Unanalyzed Note",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Unanalyzed Note": {
      "main": [
        [
          {
            "node": "Has Note?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Note?": {
      "main": [
        [
          {
            "node": "Build Sentiment Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Sentiment Prompt": {
      "main": [
        [
          {
            "node": "Ollama: Analyze Sentiment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama: Analyze Sentiment": {
      "main": [
        [
          {
            "node": "Parse Sentiment Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Sentiment Results": {
      "main": [
        [
          {
            "node": "Store Sentiment Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "Selene",
      "id": "selene-tag"
    },
    {
      "name": "Advanced",
      "id": "advanced-tag"
    }
  ],
  "meta": {
    "instanceId": "selene-local"
  },
  "pinData": {}
}
