workflows/08-daily-summary/workflow.json
{
  "name": "08-Daily-Summary | Selene",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 0 * * *"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule: Midnight Daily",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "functionCode": "const Database = require('better-sqlite3');\nlet db;\n\ntry {\n  db = new Database('/Users/chaseeasterling/selene-n8n/data/selene.db', { readonly: true });\n  \n  // Query 1: Notes from last 24 hours\n  const notesQuery = `\n    SELECT id, title, tags, word_count, created_at\n    FROM raw_notes\n    WHERE date(created_at) >= date('now', '-1 day')\n    AND test_run IS NULL\n    ORDER BY created_at DESC\n  `;\n  const notes = db.prepare(notesQuery).all();\n  \n  // Query 2: Processed insights from last 24 hours\n  const insightsQuery = `\n    SELECT \n      p.id,\n      p.concepts,\n      p.primary_theme,\n      p.secondary_themes,\n      r.title\n    FROM processed_notes p\n    JOIN raw_notes r ON p.raw_note_id = r.id\n    WHERE date(p.processed_at) >= date('now', '-1 day')\n    AND r.test_run IS NULL\n    ORDER BY p.processed_at DESC\n  `;\n  const rawInsights = db.prepare(insightsQuery).all();\n  const insights = rawInsights.map(i => ({\n    ...i,\n    concepts: i.concepts ? JSON.parse(i.concepts) : [],\n    secondary_themes: i.secondary_themes ? JSON.parse(i.secondary_themes) : []\n  }));\n  \n  // Query 3: Active patterns\n  const patternsQuery = `\n    SELECT \n      pattern_type,\n      pattern_name,\n      description,\n      confidence,\n      discovered_at\n    FROM detected_patterns\n    WHERE is_active = 1\n    ORDER BY discovered_at DESC\n    LIMIT 5\n  `;\n  const patterns = db.prepare(patternsQuery).all();\n  \n  db.close();\n  \n  return {\n    json: {\n      notes: { items: notes, count: notes.length },\n      insights: { items: insights, count: insights.length },\n      patterns: { items: patterns, count: patterns.length },\n      queryDate: new Date().toISOString().split('T')[0]\n    }\n  };\n  \n} catch (error) {\n  if (db) db.close();\n  console.error('Query error:', error);\n  return {\n    json: {\n      notes: { items: [], count: 0 },\n      insights: { items: [], count: 0 },\n      patterns: { items: [], count: 0 },\n      error: error.message,\n      queryDate: new Date().toISOString().split('T')[0]\n    }\n  };\n}"
      },
      "id": "query-all-data",
      "name": "Query All Data",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "functionCode": "const data = $json;\n\nconst notesData = data.notes;\nconst insightsData = data.insights;\nconst patternsData = data.patterns;\n\nconst today = new Date();\nconst dateStr = today.toLocaleDateString('en-US', { \n  weekday: 'long', \n  year: 'numeric', \n  month: 'long', \n  day: 'numeric' \n});\n\nlet notesSection = '';\nif (notesData.count === 0) {\n  notesSection = 'No new notes captured today.';\n} else {\n  notesSection = notesData.items.map(n => {\n    const tags = n.tags ? JSON.parse(n.tags).join(', ') : 'no tags';\n    return `- \"${n.title}\" (${n.word_count || 0} words, tags: ${tags})`;\n  }).join('\\n');\n}\n\nlet insightsSection = '';\nif (insightsData.count === 0) {\n  insightsSection = 'No notes processed today.';\n} else {\n  const allConcepts = insightsData.items.flatMap(i => i.concepts || []);\n  const allThemes = insightsData.items.map(i => i.primary_theme).filter(Boolean);\n  const uniqueConcepts = [...new Set(allConcepts)].slice(0, 10);\n  const uniqueThemes = [...new Set(allThemes)];\n  insightsSection = `Concepts: ${uniqueConcepts.join(', ') || 'none'}\\nThemes: ${uniqueThemes.join(', ') || 'none'}`;\n}\n\nlet patternsSection = '';\nif (patternsData.count === 0) {\n  patternsSection = 'No active patterns detected yet.';\n} else {\n  patternsSection = patternsData.items.map(p => \n    `- ${p.pattern_name}: ${p.description || 'No description'}`\n  ).join('\\n');\n}\n\nconst prompt = `You are summarizing a personal knowledge capture system for someone with ADHD.\nBe brief and clear. Write 2-4 sentences max.\n\nToday's date: ${dateStr}\n\nNotes captured today (${notesData.count}):\n${notesSection}\n\nInsights extracted:\n${insightsSection}\n\nRecurring themes:\n${patternsSection}\n\nWrite a brief executive summary paragraph covering:\n- What was captured today (or note if quiet day)\n- Any notable insights or themes emerging`;\n\nreturn {\n  json: {\n    prompt: prompt,\n    date: dateStr,\n    dateISO: today.toISOString().split('T')[0],\n    stats: {\n      notesCount: notesData.count,\n      insightsCount: insightsData.count,\n      patternsCount: patternsData.count\n    }\n  }\n};"
      },
      "id": "build-prompt",
      "name": "Build Summary Prompt",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [700, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.OLLAMA_BASE_URL }}/api/generate",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'mistral:7b', prompt: $json.prompt, stream: false }) }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "ollama-request",
      "name": "Send to Ollama",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [950, 300],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "functionCode": "const promptData = $('Build Summary Prompt').item.json;\nconst stats = promptData.stats;\n\nconst fallbackSummary = stats.notesCount > 0\n  ? `Captured ${stats.notesCount} note(s) today. Summary generation unavailable - Ollama may be offline.`\n  : `No new notes captured today. Summary generation unavailable - Ollama may be offline.`;\n\nreturn {\n  json: {\n    response: fallbackSummary,\n    fallback: true,\n    error: 'Ollama unavailable'\n  }\n};"
      },
      "id": "ollama-fallback",
      "name": "Fallback: Ollama Error",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [950, 450]
    },
    {
      "parameters": {
        "functionCode": "const promptData = $('Build Summary Prompt').item.json;\nconst ollamaResponse = $json;\n\nconst summary = ollamaResponse.response || 'Summary generation failed. Please check Ollama connection.';\n\nconst dateISO = promptData.dateISO;\nconst dateTitle = promptData.date;\nconst stats = promptData.stats;\n\nconst markdown = `# Daily Summary - ${dateTitle}\n\n${summary}\n\n---\n\n**Stats:** ${stats.notesCount} notes captured, ${stats.insightsCount} processed, ${stats.patternsCount} active patterns\n\n---\n*Generated automatically at midnight by Selene*\n`;\n\nconst filename = `${dateISO}-summary.md`;\nconst filepath = '/Users/chaseeasterling/selene-n8n/vault' + `/Selene/Daily/${filename}`;\n\nreturn {\n  json: {\n    markdown: markdown,\n    filepath: filepath,\n    filename: filename,\n    date: dateISO,\n    stats: stats\n  }\n};"
      },
      "id": "prepare-markdown",
      "name": "Prepare Markdown",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1200, 350]
    },
    {
      "parameters": {
        "mode": "jsonToBinary",
        "convertAllData": false,
        "sourceKey": "markdown",
        "destinationKey": "data",
        "options": {
          "fileName": "={{ $json.filename }}",
          "mimeType": "text/markdown"
        }
      },
      "id": "convert-to-binary",
      "name": "Convert to Binary",
      "type": "n8n-nodes-base.moveBinaryData",
      "typeVersion": 1.0,
      "position": [1450, 350]
    },
    {
      "parameters": {
        "fileName": "={{ $('Prepare Markdown').item.json.filepath }}",
        "dataPropertyName": "data"
      },
      "id": "write-file",
      "name": "Write to Obsidian",
      "type": "n8n-nodes-base.writeBinaryFile",
      "typeVersion": 1,
      "position": [1700, 350]
    },
    {
      "parameters": {
        "functionCode": "const markdown = $('Prepare Markdown').item.json.markdown;\n\nconst plainText = markdown\n  .replace(/^#{1,6}\\s+/gm, '')      // Remove header markers\n  .replace(/\\*\\*(.+?)\\*\\*/g, '$1')  // Bold → plain\n  .replace(/\\*(.+?)\\*/g, '$1')      // Italic → plain\n  .replace(/^---$/gm, '')           // Remove horizontal rules\n  .replace(/\\n{3,}/g, '\\n\\n')       // Collapse multiple newlines\n  .trim();\n\nreturn {\n  json: {\n    plainText: plainText\n  }\n};"
      },
      "id": "strip-markdown",
      "name": "Strip Markdown",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1950, 350]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://usetrmnl.com/api/custom_plugins/{{ $env.TRMNL_WEBHOOK_ID }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ merge_variables: { text: $json.plainText } }) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "post-to-trmnl",
      "name": "POST to TRMNL",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2200, 350],
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Schedule: Midnight Daily": {
      "main": [[{ "node": "Query All Data", "type": "main", "index": 0 }]]
    },
    "Query All Data": {
      "main": [[{ "node": "Build Summary Prompt", "type": "main", "index": 0 }]]
    },
    "Build Summary Prompt": {
      "main": [[{ "node": "Send to Ollama", "type": "main", "index": 0 }]]
    },
    "Send to Ollama": {
      "main": [
        [{ "node": "Prepare Markdown", "type": "main", "index": 0 }],
        [{ "node": "Fallback: Ollama Error", "type": "main", "index": 0 }]
      ]
    },
    "Fallback: Ollama Error": {
      "main": [[{ "node": "Prepare Markdown", "type": "main", "index": 0 }]]
    },
    "Prepare Markdown": {
      "main": [[{ "node": "Convert to Binary", "type": "main", "index": 0 }]]
    },
    "Convert to Binary": {
      "main": [[{ "node": "Write to Obsidian", "type": "main", "index": 0 }]]
    },
    "Write to Obsidian": {
      "main": [[{ "node": "Strip Markdown", "type": "main", "index": 0 }]]
    },
    "Strip Markdown": {
      "main": [[{ "node": "POST to TRMNL", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
